.conteiner2 {
    height: 3392px;
    margin: 0 auto;
    min-width: 1266px;
    max-width: 1366px;
    background-color: #FCFCFC;
}
.bodyprodukt {
    height: 1965px;
    background-color: #FCFCFC;
    margin-bottom: 700px;
}
.menu1 {
    position: relative;
    margin-left: 30px;
    margin-top: 55px; 
    padding-top: 20px;
    padding-bottom: 20px; 
} 
.menu1 .all {
    text-align: center;
}
.menu1 li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    height: 34px;
    width: 120px;
    text-align: center;
    border-bottom: 1px solid #6c6c6c;
    margin-right: -4px; 
}
.menu1 li a:hover {
    display: block;
    color: #212121;
    font-weight: 700;
    font-size: 18px; 
    height: 100%;
    width: 100%;   
}
.menu1 li:hover {
    border-bottom: 3px solid #000;
    color: #212121;
    font-weight: 700;
    height: 32px;
    margin-bottom: -4px;
}
.menu1 li a {
    text-decoration: none;
    display: block;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    height: 30px;
    transition: 1s;
}
.menu1 li a:hover {
    transform: scale(1.2)
}
.block41 {
    position: relative;
    height: 1580px;
    min-width: 1366px;
    background-color: #FCFCFC;
}
.block41 .block4a li {
    float: left;
    list-style-type: none;
    margin-top: 30px;
    margin-left: 65px;
}
.block41 .block4b li {
    float: left;
    list-style-type: none;
    margin-top: 30px;
    margin-left: 65px;
}
.block41 {
    margin-bottom: 250px;
}
#load {
    transition: transform 1s;
    padding-right: 12px;
    margin-bottom: 100px;
    margin-left: 655px;
    background-color: #FCFCFC;
    height: 30px;
    width: 30px;
}
#load:hover {
    transform: rotate(-360deg) scale(1.2);
    -o-transform: rotate(-360deg);
}
#load a {
    text-decoration: none;
}