@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,700');

body { font-family: 'Montserrat', sans-serif;}

* {
    margin: 0;
    padding: 0;
}
.conteiner1 {
    height: 1307px;
    margin: 0 auto;
    min-width: 1366px;
    max-width: 1366px;
}
.bodyContackt {
    height: 563px;
    background-color: #FCFCFC;  
}
.bodyContackt1 {
    margin-left: 70px;
    padding-top: 121px;
}
.bodyContackt1 li {
     list-style-type: none;
}
.bodyContackt1 div {
    height: 563px;
    margin-left: 33px;
    float: left;
    width: 368px;
    height: 368px; 
     border-top: 1px solid #9c9c9c;
    border-left: 1px solid #9c9c9c;
    opacity: 0.7;
    transition: 1s;
    box-shadow: 12px 20px 10px 2px #E0E7EA;
}
.bodyContackt1 div:hover {
   transform: scale(1.1)
       
}
.bodyContackt1 .ul1:hover {
    height: 563px;
    margin-left: 33px;
    outline: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.9;
    width: 368px;
    height: 368px;  
}
.header1 {
    box-shadow: 0px 0px 30px 8px #D5DEE3;
    height: 370px;
    background-color: #f5f5f5;
    transform: skewy(0deg);
    margin-bottom: -5px;
}

.header1 .logo {
    transition: 2s;
    margin-left: 98px;
    margin-top: 67px;
    float: left;  
}
.header1 .logo:hover {
    transform: scale(1.2)
}
.header1 h1 {
    color:  #212121;
    font-size: 62px;
    font-weight: 300;
    line-height: 72px;
    display: block;
    position: absolute;
    margin-top: 261px;
    margin-left: 101px;
    transition: 1s;
    
}
.header1 h1:hover {
   transform: scale(1.1)
}
.ul1 ul {
    margin-top: 48px;
}
.ul1 ul li {
    display: block;
    height: 25px;
    width: 200px;
    margin-left: 40px;
}
.ul1 .li1 {
    position: relative;
    background: url(../img/pink.png) no-repeat;
    height: 50px;
    width: 40px;
    margin-left: 160px;
}
.ul1 .li2 {
    color: #212121;
    font-size: 21.91px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    transform: scaleX(1.0041);
    margin-left: 80px;
    margin-bottom: 25px;
    margin-top: 22px;
}
.ul1 .li3 {
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.082px;
    text-align: center;
     margin-left: 80px;
}
.ul1 .li4 {
    color:  #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.082px;
    text-align: center;
     margin-left: 80px;
    margin-bottom: 15px;
}
.ul1 .li5 {
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 20.082px;
    text-align: center;
    transform: scaleX(1.0041);
    width: 280px;   
}